<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="darkreader-lock">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARP+ Status</title>
    <link href='https://css.gg/css' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/get_status.js"></script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bulma_overwrite.css?t=1673057552688">
    <link rel="stylesheet" href="/css/styles.css?t=1673057552688">
</head>

<body>
    <table class="table">
        <thead>
            <th>Thread ID</th>
            <th>Total</th>
            <th>Good</th>
            <th>Bad</th>
            <th>Server Status</th>
        </thead>
        <tbody>
            <% for (let thread of threads) { %>
                <tr class="tr-thread" id="thread-<%= thread.thread %>">
                    <td>
                        warp-plus-<%= thread.thread %>
                    </td>
                    <td>
                        <%= thread.total %>
                    </td>
                    <td>
                        <%= thread.good %>
                    </td>
                    <td>
                        <%= thread.bad %>
                    </td>
                    <td class="status" id="loading">
                        <a href="https://warp-plus-<%= thread.thread %>.aldenalt.repl.co/">
                            <i class="status-icon"></i>
                            <span>Waiting...</span>
                        </a>
                    </td>
                </tr>
                <% } %>
                    <tr>
                        <th>Total</th>
                        <th>
                            <%= total.total %>
                        </th>
                        <th>
                            <%= total.good %>
                        </th>
                        <th>
                            <%= total.bad %>
                        </th>
                        <th></th>
                    </tr>
        </tbody>
    </table>
</body>



</html>